<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <title>Career Bumble</title>

    <!-- Bootstrap -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
     <link rel="stylesheet" href="style.css">
  </head>
  
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <body  ng-app="jobBumble" ng-controller="searchController">



      <div id="main-app-body" class="container">
        <!-- Navegation-->
        <div id="right-menu" class="navbar-wrapper col-lg-6">
          <div class"container nav-bumble-container">

            <nav id="nav" class="navbar navbar-inverse navbar-static-top job-bumble-menu">
            <div class="container nav-bumble-container">
            <!-- <div class="row"> -->
              <div class="navbar-header col-lg-6">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
              </div>
              <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
                <img  id="user-pic" src="images/user.png"/>
                <ul id="job-bumble-menu"class="nav navbar-nav navbar-right">
                  <li><a href="#portf-container">My info <span class="sr-only">(current)</span></a></li>
                  <li><a href="#resumen-container">Settings</a></li>
                </ul>
              </div>
            </div>
          </nav>

          </div>
        </div>
        <!--message navegation -->
        <div id="message-menu-holder" class="col-lg-6">
          <button type="button" class="message-button" aria-expanded="false" aria-controls="navbar"></button>
          <button type="button" class="search-button" aria-expanded="false" aria-controls="navbar"></button>          
        </div><!--END OF MENU/NAVEGATION -->

        <!-- Search container, it expands at click, DEFAULR -->
        <div id="search-container">
          <div id="search-fields">
            <h2>Search Jobs {{ stateSelected}}</h2>
            <form ng-submit="searchCareers()">
              <input type="text" ng-model="jobQuery" class="form-control" size="25" placeholder="Job Search"/>

              <select ng-model="stateSelected" ng-options="x for (x, y) in states" ></select>
              <br/>
              <input id="submit-search" type="submit" value="Submit" />

            </form>
           <!--  <div ng-repeat="x in jobList">
              <span ng-bind="x.jobText"></span>
            </div> -->

          </div><!--end of search-fields-->
        </div><!--END of search--> 

        <!-- Display info area -->
        <div id="job-body">
          <div id="display-area">
            <div id="main-job-area">
              <div id="main-info">
               <!--  
                <p id="salary">100,000</p>
                <p id="location">Provo</p> -->
                  <div ng-repeat="x in jobs track by $index">

                    <h4 id="job-title" ng-show="$index === curPosInArray">Position: {{x.title}}</h4>
                     <p id="salary" ng-show="$index === curPosInArray">Salary: {{x.range}}</p>
                     <p id="location" ng-show="$index === curPosInArray">Location: {{x.location}}</p>
                     <!-- <p id="location">{{job.location}}</p>                     -->
                  </div>
                <!-- </carousel>   -->
              </div>
              <div id="selector-holder">
                <div id="accept">
                  <a href="" ng-click="itemNext()"><img class="action-button" src="images/yes.png"/></a>
                </div>
                <div id="reject">
                  <a href="" ng-click="itemNext()"><img class="action-button" src="images/no.png"/></a>
                </div>
              </div>

            </div>
            <div id="job-description">
              <h3 id="jtitled">Info</h3>
              <div id="jdescriptiond" ng-repeat="x in jobs track by $index">
                
                  <p id="salary" ng-show="$index === curPosInArray">Company Name: {{x.name}}}</p>
                  <p id="location" ng-show="$index === curPosInArray">Start Date: {{x.start_date}}</p>
                  <p id="location" ng-show="$index === curPosInArray">End Date: {{x.end_date}}</p>
                  <p id="location" ng-show="$index === curPosInArray">URL: {{x.url}}</p>


              </div>
            </div>
          </div>
        </div><!--end of display info area -->         

      </div><!--END OF main-app-body-->   
    
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="script.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>

</html>
