

#main-app-body{
  width:700px !important;
  height:860px !important;
  padding-right: 0px;
  padding-left: 0px;
}

/*Makes the navegation to display as hamburget all the time*/
 .navbar-header {
        float: none;
  }
  .navbar-toggle {
    float: left;
    display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-collapse.collapse {
      display: none!important;
      height:808px !important;
  }
  .navbar-nav {
      float: none!important;
      margin: 7.5px -15px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .navbar-collapse.collapse.in {
      display: block !important; 
  }

  /*Other nav styles */
  .nav-bumble-container{
    width:inherit;
  }
  nav.job-bumble-menu{
    /*width:400px !important;*/
    background-color: #efb421;
  }

#navbar, .navbar-inverse{
  border-color:#efb421 !important;
}

div.navbar-header{
   background-color: #efb421 !important;
}

#user-pic{
  width:150px;
  height:150px;
  margin-top:30px;
  margin-left: 80px; 
}

#message-menu-holder{
  background-color: #efb421;
  height:50px;
}

#right-menu{
    padding-right:0px; 
    padding-left:0px;
}

button.message-button{
  width:45px;
  height:45px;
  float: right;
  display: block;
  border-color: #333;
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 3px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: url("images/mail.png");
  border: 1px solid transparent;
  border-radius: 4px;
  overflow: visible;
}

button.search-button{
  width:45px;
  height:45px;
  float: right;
  display: block;
  border-color: #333;
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  background-color: transparent;
  background-image: url("images/search.png");
  border: 1px solid transparent;
  border-radius: 4px;
  overflow: visible;
}


/*====================Main Area ==============*/

  #job-body{
    width:699px !important;
    height:858px !important;
    background-color: white;
    border: 1px solid black; 
  }

  #display-area{
    width:647px !important;
    height:828px !important;
    background-color: white;
    border-radius: 15px;
    margin-left:25px;
    /*border: 1px solid black;*/
     border-style: solid;
    border-width: 0px 1px 0px 1px;
  }

  #main-job-area{
    background-color:white;
    width:617px !important;
    height:580px !important;
    margin-left:15px;
    border: 1px solid black;
  }

  #job-description{
    background-color:white;
    width:617px !important;
    height:230px !important;
    border-radius: 15px 15px 0px 0px;
    margin-left:15px;
    margin-top: 18px;
    border: 1px solid black;
  }

  #main-info{
    background-color:#ff6699;
    height:420px;
  }
  #selector-holder{
    background-color:#ffcc00;
  }
  #accept{
    float:left;
    margin-left:50px;
  } 
  #reject{
    float:right;
    margin-right:50px;
  } 

  .action-button{
    width:150px;
    height:150px;
  }




  /*==============Media Queries========================*/

  @media (max-width: 1200px) { 
    .col-lg-6{
      width:50% !important;
      float:left;
  }
  
   @media (max-width: 700px){ 
     #main-app-body{
      width:500px !important;
      height:750px !important;
     }
     #job-body{
      width:500px !important;
      height:748px !important;
     }
     #display-area{
        width:448px !important;
        height:718px !important;
        /*margin-left: 0px;*/
      }
    .navbar-collapse.collapse {
      height:748px !important;
      }

      #user-pic{
        float:right;
        margin-top:80px;
        margin-right: 10px; 
        }

      #main-job-area{
        width:415px !important;
      }

      #job-description{
        width:415px !important;
        height:120px !important;
      }

      #selector-holder{
      }
    }

  @media (max-width: 500px) { 
     #main-app-body{
      width:400px !important;
      height:670px !important;
     }
     #job-body{
      width:400px !important;
      height:668px !important;
     }

     #display-area{
        width:385px !important;
        height:658px !important;
        margin-left:7px;
      }
    .navbar-collapse.collapse {
      height:668px !important;
      }

      #main-job-area{
        width:353px !important;
        height:490px !important;
      }

      #job-description{
        width:353px !important;
        height:150px !important;
      }

       #main-info{
        height:350px;
      }

     /* button.search-button{
        width:25px;
        height:25px;
      }

      button.message-button{
        width:25px;
        height:25px;
      }*/

      .action-button{
        width:100px;
        height:100px;
      }
  }  

   @media (max-width: 400px) { 
     #main-app-body{
      width:320px !important;
      height:520px !important;
     }
     #job-body{
      width:320px !important;
      height:518px !important;
     }
     #display-area{
        width:308px !important;
        height:508px !important;
        margin-left: 5px;
      }
    .navbar-collapse.collapse {
      height:518px !important;
      }


      #main-job-area{
        width: 295px !important;
        height: 403px !important;
        margin-left: 5px;
      }

      #job-description{
        width: 295px !important;
        height: 100px !important;
        margin-left: 5px;
        margin-top: 5px;
        margin-top:5px;
      }

       #main-info{
        height:310px;
      }

      .action-button{
        width:70px;
        height:70px;
      }

      #display-area {
        border-radius: 5px;
      }
  }
